.myButton {
  background-color: #1a1a1a;
  color: #eee !important;
  padding: 0 10px;
  margin: 0 10px;
  border: none;
  width: 200px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.myButton:hover {
  background-color: black;
}
.active {
  background-color: black;
}

/* crad */

.card-text {
  font-size: 0.8em;
  text-transform: capitalize;
  color: #8b8484;
}
.card-img-top-product-detials {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;

}

.card-img-top-product-detials:hover {
  cursor: pointer;
 scale: 1.1;
 rotate: 2deg;
}
.card-img-top {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  height: 345px;
}
.card-img-top:hover {
  cursor: pointer;
 scale: 1.1;
 rotate: 2deg;
}
.main-content{
    margin: 20px 0 !important;
}
/* dialog */
/* .MuiPaper-root.MuiPaper-elevation{

} */

/* media */
@media only screen and (max-width: 600px) {
 .produceDetails{
  margin-left: 40px;
 }

  .main-content{
    
    
   
    display: flex;
    align-items: center;
    justify-content: center;
 }
    .row {
    width: 395px;
  }
  .main-text {
    padding-left: 35px;
    width: 100%;
  }
  .main-text h4 {
    font-weight: bolder;
    padding-left: 25px;
  }
  .main-text p {
    font-size: 0.9em;
    color: #6d6b6b;
    padding-left: 25px;
  }
  .myButton {
    font-size: 0.9em;
    border-radius: 20px;
    width: 95%;
    padding: 10px 0;
    margin: 5px 5%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .main-btn {
    flex-direction: column;
  }
  
  
}

/* dialog */
